
.title{
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

body{
  margin: 0 25% 0 25%;
  font-family:Arial, Helvetica, sans-serif;
  background: linear-gradient(90deg,rgb(193, 193, 248), #9bf6f6,  #f4afaf);
}

.calculator{
  display: grid;
  margin: 3em 0 1em 0;
  grid-template-columns: repeat(4,5em);
  grid-template-rows: minmax(6em,auto) repeat(5,6em);
  justify-content: center;
}

.calculator button:hover{
  background-color: rgba(255,255,255,0.8);
  transform: scale(1.05, 1.05);
}


.calculator button{
  cursor: pointer;
  font-size: 2.2em;
  outline: none;
  background-color: rgba(255,255,255,0.5);
  border: 1px solid gray;
  border-radius: 3%;
}

.clear-input{
  background-color: rgba(181, 64, 64, 0.827) !important;
  color: rgb(239, 229, 229);
  border: 1px solid rgba(0, 0, 0, 0.57) !important;
}

.operations{
  background-color: rgba(199, 190, 190, 0.8) !important;
}

.evaluate{
  background-color: rgb(128, 128, 225) !important;
}

/* .grid-2{
  grid-column:span 2;
} */

.result{
  grid-column: span 4;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content:space-around;
  word-wrap: break-word;
  word-break: break-all;
  padding: .5em;
}

.result .history{
  color: rgba(255,255,255,0.8);
  font-size: 1.5em;
}

.result .number{
  color: rgba(255,255,255);
  font-size: 2.4em;
}